@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  height: 500px;
}

h1 {
  font-size: 40px;
  margin: 0;
}

h2 {
  text-decoration: underline;
}

#mainDiv {
  display: flex;
  flex-direction: row;
  height: 800px;
  width: 100%;
}
